body {
  background-color: black;
}

.welcome {
  color: azure;
  text-align: center;
}

.scaledDown {
  max-width: 95%;
  text-align: center;
  color: azure
}

.card {
  background-color: slategrey;
  border: 0;
}

#loginModal {
  color:black;
}
.navbar-dark .navbar-nav .nav-link {
  color: azure;
}
